.notice-contact{
    position: fixed;
    width: 89%;
    margin: auto;
    z-index: 1000000000000;
    top: 50px;
    left: 6%;

}

.transparent{
    background-color: rgba(14, 14, 14, 0.68);
    border-color: #f7f7f7;
    color: #fdfdfd;
}