<div class="confirm-order" style="width:100%;">
	<div class="container">
	    <div class="row center-align">
			<h5>Merci Pour votre Commande chez Bebox Shop<br><br>Votre Livraison aura lieu entre 48 et 72 heures</h5><br>
			<%= link_to 'Continuer vers Bebox shop', shop_path %>
		</div>
	</div>
</div>