<div id="map" style="width:100%;height:650px"></div>

<script type="text/javascript">

    // Standard google maps function
    function initialize() {
        var myLatlng = new google.maps.LatLng(35.8293242,10.5504128);
        var myOptions = {
            zoom: 12,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        map = new google.maps.Map(document.getElementById("map"), myOptions);
        TestMarker();
    }

    // Function for adding a marker to the page.
    function addMarker(location) {
        marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }

    // Testing the addMarker function
    function TestMarker() {
        <% @bebox = Bebox.all %>
        <% @bebox.each do |bebox| %>
           CentralPark = new google.maps.LatLng(<%= bebox.laltitude %>,<%= bebox.longitude %>);
           addMarker(CentralPark);
           <% end %>
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=initialize"></script>