<% content_for :pagename, "Inventaire" %>
<% content_for :breadcrumb, "Email: ines@mybebox.tn / password: ce7372fbbf0acfb6f651e5006b105b79" %>

<div class="iframe-container" style="height:68vh;">
    <iframe src="https://barcodery.com/app.html#!/items" height="100%" width="100%"></iframe>
</div>

