<!DOCTYPE html>
<html>
<head>
	<title>Price Page!</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'frontend', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'frontend' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cuprum:400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/eae48e4e0d.js"></script>
</head>
<body>
<%= yield %>
</body>
</html>